/* You can add global styles to this file, and also import other style files */

// @import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import '~@angular/material/theming';
@include mat-core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://www.google.com/design/spec/style/color.html
$app-primary: mat-palette($mat-grey);
$app-accent:  mat-palette($mat-blue-grey, A200, A100, A400);

// The warn palette is optional (defaults to red).
$app-warn:    mat-palette($mat-cyan);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(0,0,0,.6);
}

h1.page-title {
  height:57px;
  box-sizing: border-box;
  background:white;
  margin: 0;
  font-size: 16px;
  padding: 16px 15px;
  box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 10;
  width: 100%;
}

main {
  padding: calc(57px + 15px) 15px 15px 15px;
}

* {
  font-family: "SF Pro JP", "SF Pro Display", "SF Pro Icons", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
figure { margin: 0; }

mat-checkbox.role {
  display: block;
  label {
    display: block;
    padding: 10px;
  }
  &:hover {
    background: rgba(0, 0, 0, 0.04);
  }
}